BraveSoftware/*
chromium/*
Code/*
dconf/*
gh/*
google-chrome/*
gtk-*/
htop/*
librewolf/*
microsoft-edge/*
Proton Pass/*
pulse/*
systemd/*
vivaldi/*
user-dirs.dirs
user-dirs.locale
WebCord/
xsettingsd/
lazydocker/
nwg-look/